# === Server Variables ===

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/veles_dev
PROD_DATABASE_URL=<postgresql_connection_string>

# Server URL (optional)
SERVER_URL=https://veles.widacki.me

# Better Auth
BETTER_AUTH_SECRET=<random_32_char_secret>

# Google OAuth (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=<google_client_id>
GOOGLE_CLIENT_SECRET=<google_client_secret>

# Cloudflare R2
R2_TOKEN_VALUE=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

# === Client Variables ===

# Cloudflare CDN
VITE_CF_CDN_URL=<cdn_url>

# Base URL
VITE_BASE_URL=http://localhost:3000

# App title (optional)
VITE_APP_TITLE=
