.button {
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-md);
  z-index: 2;
}

@media (max-width: 720px) {
  .button {
    right: var(--space-sm);
    bottom: var(--space-sm);
  }
}
