.button {
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-md);
  z-index: 2;

  transition: bottom 180ms;
}

@media (--phone) {
  .button {
    right: var(--space-lg);
    bottom: calc(4rem + env(safe-area-inset-bottom, 0px));
  }
}
